body{
    background-color: palegreen;
    margin: 20px 20px 20px 20px
}
a{
    color: white;
    background-color: green;
    border-top: 2px lightgrey solid;
    border-left: 2px lightgrey solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    font-family: sans-serif;
    padding: 1px 7px 1px 7px;
}
a:visited{
    color: white;
}
table{
    margin: 20px 1px 20px 1px ;
}
input{
    background-color: green;
    font-size: 12pt;
    font-family: sans-serif;
    color: white;
}
h1{
    color: green;
}
h2{
    color: green;
}
